#pokemon-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 20px
}

.pokemon {
    position: relative;
	border: 1px solid #000;
	background-color:#E9FAF9;
	padding:5px;
	border-spacing: 10px 10px;
	border-radius:5px;
    width:5em;
}

.pokemon-image {
    z-index: 2;
    position: relative;
}

.pokemon-no {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    font-weight: bolder;
    opacity: 0.6;
    z-index: 2;
}

.select {
	background-color:#A9CAC9;
}

.pokemon-label {
    text-align: center;
}

.not-in-go {
    visibility: hidden;
}

@media only screen and (max-width: 1024px) {
    div.p-flex { width: 33%; }
}

@media only screen and (max-width: 600px) {
	div.p-flex { width: 50%; }
}

body {
    background-color:#D9EAE9;
}