html {
	font-family: "Roboto", arial, sans-serif;
}

h1 {
	display: flex;
	justify-content: center;
	font-size: 37px;
}

h5 {
	display: flex;
	justify-content: center;
	margin:0;
}

footer {
    position: absolute;
    background-color: #748F8D;
    font-size: 14px;
    padding-top:8px;
    float: left;
    width: 106%;
    margin-left: -3%;
    text-align: center;
    margin-top: 30px;
}

textarea {
	width: 350px;
	height:60px;
	resize:none;
}

.collapsible {
    position: relative;
    background-color: #A9BAB9;
    padding: 7px;
    border-spacing: 10px 10px;
    border-radius: 5px;
    border-width: 0;
    box-shadow: 2px 2px #9BB;
    font-size: 16px;
    font-weight: normal;
    display:inline-block;
    white-space: nowrap;
    margin: 1px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible-content {
  padding: 0 18px;
  background-color: #E2F6F2;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#controls {
	display: grid;
	justify-content: center;
	grid-row-gap: 3px;
	padding-left: 25%;
	padding-right: 25%;
}

#result {
	word-wrap: break-word;
}

#pokemon-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 3px;
	justify-content: center;
	grid-gap: 4px;
}

.control-row {
    display: flex;
    grid-column-gap: 3px;
}

.textLabel {
    position: relative;
    background-color: #C9DAD9;
    padding: 5px;
    border-spacing: 10px 10px;
    border-radius: 5px;
    border-width: 0;
}

.button {
    position: relative;
    background-color: #E9FAF9;
    padding: 7px;
    border-spacing: 10px 10px;
    border-radius: 5px;
    border-width: 0;
    box-shadow: 2px 2px #9BB;
    font-size: 16px;
    font-weight: normal;
    display:inline-block;
    white-space: nowrap;
    margin: 1px;
}


.button:active {
    background-color: #A9CAC9;
}

.button-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 3px;
	grid-gap: 4px;
}

.button-box-highlight {
	background: #AACDFD;
}

.gen-header {
	width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.pokemon {
	position: relative;
    background-color: #E9FAF9;
    padding: 5px;
    border-spacing: 10px 10px;
    border-radius: 5px;
    width: 6.6em;
    height: 8.3em;
    border-width: 0;
	box-shadow: 2px 2px #9BB;
	margin: 2px;
}

.not-in-game {
	display: none;
}

.hide {
	display: none;
}

.image-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-image {
    z-index: 2;
    position: relative;
    transform: scale(0.95);	
}

.pokemon-no {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 33px;
    font-weight: bolder;
    opacity: 0.6;
    z-index: 2;
    padding-bottom: 95px;
}

.select {
    background-color:#A9CAC9;
}

.pokemon-label {
    text-align: center;
    position: absolute;
    font-size: 17px;
    top: 101px;
    width: 96%;
}

.not-in-go {
    visibility: hidden;
}

@media only screen and (max-width: 1024px) {
    div.p-flex { width: 33%; }
}

@media only screen and (max-width: 600px) {
	div.p-flex { width: 50%; }
}

body {
    background-color:#D9EAE9;
    overflow-x: hidden;
}

#ad {
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 40%;
}

#gen-nav {
	width: 5em;
    position: absolute;
    right: 0;
    top: 20px;
}

#topad {
    position: absolute;
    left: 0;
    top: 0;
}

.gen-nav-button {
    background-color: #E9FAF9;
    padding: 5px;
    border-spacing: 10px 10px;
    border-width: 0;
	box-shadow: 2px 2px #9BB;
	margin-top: 3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.gen-nav-button:active {
	background-color: #A9CAC9;
}

a {
	text-decoration: none;
	outline: 0;
}
