{% extends 'template.html' %}

{% block title %}Helpful Links{% endblock %}
		
{% block header %}<h1>Helpful Links</h1>{% endblock %}

{% block content %}
<div style="
    max-width: 1200px;
    margin: 0 auto;
">
	<p>Listed here are other helpful links to help understand search strings and how to use them:</p>
	<h2>PoGo Search String Generator</h2>
	<p><a href="https://pogosearchgenerator.com" >PoGo Search Generator</a> is a free online <b>Pokemon Go Search String Generator tool</b> that automatically creates search strings.</p>
	<ul>
		<li>Search by multiple searches</li>
		<li>Find hundos, nundos, and 4★ Pokémon instantly
		<li>Supports multiple languages for trainers worldwide</li>
	</ul>

	<hr>
	
	<h2>Pokemon Go Help Center</h2>
	<p><a href="https://niantic.helpshift.com/hc/en/6-pokemon-go/faq/1486-searching-filtering-your-pokemon-inventory/">Pokemon Go Help Center</a> is a help article provided by Pokemon Go Help Center to explain searches.</p>

</div>

{% endblock %}
