<!DOCTYPE html>
<html>
	<head>	
		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<script type=text/javascript src="{{url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
	</head>
	<body>
		<script type=text/javascript>
			  $(function() {
				$('a#import').bind('click', function() {
				  $.getJSON($SCRIPT_ROOT + '/_import_string', {
					pok: $("#importBox").val()
				  }, function(data) {
					  var toSelect = data.result;
					  $(".pokemon").removeClass("select")


					  for (i=0; i < toSelect.length; i++) {
						$( "#" + toSelect[i] ).addClass("select")
					  }
					  return false;
				  });

				});
			  });
			  
			  
			  $(function() {
				$('a#add').bind('click', function() {
				  $.getJSON($SCRIPT_ROOT + '/_import_string', {
					pok: $("#importBox").val()
				  }, function(data) {
					  var toSelect = data.result;

					  for (i=0; i < toSelect.length; i++) {
						$( "#" + toSelect[i] ).addClass("select")
					  }
					  return false;
				  });

				});
			  });
			  
			  
			  $(function() {
				$('a#invert').bind('click', function() {
					$(".pokemon").toggleClass("select")
				  

				});
			  });
		</script>
		<script type=text/javascript>
			function select(elem) {
				$(elem).toggleClass("select")
				var arrayOfIds = $.map($(".select"), function(n, i){
					  return n.id;
					});
				  $.getJSON($SCRIPT_ROOT + '/_generate_string', {
					pok: arrayOfIds
				  }, function(data) {
					$("#result").text(data.result);
				  });
			};
		</script>
		<input type=text size=20 id=importBox>
		<a href=# id=import>Import string</a>
		<a href=# id=add>Add string</a>
		<a href=# id=invert>Invert string</a>
		<br />
		<span id=result>?</span>

		
		
		<div id="pokemon-list">
			{% for poke in pokemon %}
			<div id="{{ poke['no'] }}" class="pokemon" onclick=select(this)>
				<div class="pokemon-no">{{ poke['no'] }}</div>
				<img class="pokemon-image" src="static/images/{{ poke['no'] }}.png">
				<div class="pokemon-label">{{ poke['name'] }}</div>

			</div>
			{% endfor %}

	
	</div>
	</body>
</html>
