{% extends 'template.html' %}

{% block title %}Pokemon Go Search String Tool{% endblock %}
		
{% block header %}
<h1>Pokemon Go Search String Tool</h1>
<h3>
	Send feedback&nbsp;<a href="https://discord.gg/fuazz3Eckh">here</a>&nbsp;or help pay my server bill and&nbsp;
	<iframe src="https://github.com/sponsors/Davidy22/button" title="Sponsor Davidy22" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
</h3>
{% endblock %}

{% block content %}
<div id="sid" class="hide">{{ sid }}</div>
<script type="text/javascript" src="{{url_for('static', filename='js/parse.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/scripts.js') }}"></script>

<div id="auth" class="menu">
	<div id="login-box">
		<div class="button" onclick="oauthSignIn()">Login</div>
	</div>
	<div id="user-box">
		<img id="profile-pic-display" src="" width="20px">
		<span id="username-display"></span>
	</div>
</div>

<div id="gen-nav">
	<a href="#Gen1">
		<div class="gen-nav-button">
			Gen 1
		</div>
	</a>
	<a href="#Gen2">
		<div class="gen-nav-button">
			Gen 2
		</div>
	</a>
	<a href="#Gen3">
		<div class="gen-nav-button">
			Gen 3
		</div>
	</a>
	<a href="#Gen4">
		<div class="gen-nav-button">
			Gen 4
		</div>
	</a>
	<a href="#Gen5">
		<div class="gen-nav-button">
			Gen 5
		</div>
	</a>
	<a href="#Gen6">
		<div class="gen-nav-button">
			Gen 6
		</div>
	</a>
	<a href="#Gen7">
		<div class="gen-nav-button">
			Gen 7
		</div>
	</a>
	<a href="#Gen8">
		<div class="gen-nav-button">
			Gen 8
		</div>
	</a>
	<a href="#Gen9">
		<div class="gen-nav-button">
			Gen 9
		</div>
	</a>
</div>


<div id="controls">
	<div class="control-row">
		<textarea id="importBox">{{ select }}</textarea>
		<div class="button" onclick="importString()">Import</div>
		<div class="button" onclick="addString()">Add</div>
		<div class="button" onclick="subString()">Subtract</div>
		<div class="button" onclick="invertString()">Invert</div>
	</div>
	
	<div class="control-row">
		<textarea id="result" readonly> </textarea>
		<div class="button" onclick="copy()">Copy string</div>
	</div>

	<button type="button" class="collapsible">More options</button>
	<div class="collapsible-content">
		<div class="control-row">
			<div class="button-box">
				<div class="textLabel">Sort options:</div>
				<div class="button" onclick="sortDex()">Dex number</div>
				<div class="button" onclick="sortFamily()">Family</div>
				<div class="button" onclick="sortAZ()">A-Z</div>
				<div class="button" onclick="sortZA()">Z-A</div>
			</div>
		</div>
		<div class="control-row">
			<div class="textLabel">Quick select:</div>
			<div class="button-box">
				<div class="button" onclick="selectPokemon('.pokemon')">All</div>
				<div class="button" onclick="selectStage(1)">Stage one</div>
				<div class="button" onclick="selectStage(2)">Stage two</div>
				<div class="button" onclick="selectStage(3)">Stage three</div>
				<div class="button" onclick="selectPokemon('.baby')">Baby</div>
				<div class="button" onclick="selectPokemon('.can-evolve')">Can evolve</div>
				<div class="button" onclick="selectPokemon('.12-candy')">12 candy</div>
				<div class="button" onclick="selectPokemon('.25-candy')">25 candy</div>
				<div class="button" onclick="selectPokemon('.50-candy')">50 candy</div>
				<div class="button" onclick="selectPokemon('.100-candy')">100 candy</div>
				<div class="button" onclick="selectPokemon('.200-candy')">200 candy</div>
				<div class="button" onclick="selectPokemon('.400-candy')">400 candy</div>
				<div class="button" onclick="selectPokemon('.legendary')">Legendary</div>
				<div class="button" onclick="selectPokemon('.mythical')">Mythical</div>
				<div class="button" onclick="selectNew()">New pokemon</div>
			</div>
		</div>
		<div class="control-row">
			<div class="textLabel">Quick deselect:</div>
			<div class="button-box">
				<div class="button" onclick="deselectPokemon('.pokemon')">All</div>
				<div class="button" onclick="deselectStage(1)">Stage one</div>
				<div class="button" onclick="deselectStage(2)">Stage two</div>
				<div class="button" onclick="deselectStage(3)">Stage three</div>
				<div class="button" onclick="deselectPokemon('.baby')">Baby</div>
				<div class="button" onclick="deselectPokemon('.can-evolve')">Can evolve</div>
				<div class="button" onclick="deselectPokemon('.12-candy')">12 candy</div>
				<div class="button" onclick="deselectPokemon('.25-candy')">25 candy</div>
				<div class="button" onclick="deselectPokemon('.50-candy')">50 candy</div>
				<div class="button" onclick="deselectPokemon('.100-candy')">100 candy</div>
				<div class="button" onclick="deselectPokemon('.200-candy')">200 candy</div>
				<div class="button" onclick="deselectPokemon('.400-candy')">400 candy</div>
				<div class="button" onclick="deselectPokemon('.legendary')">Legendary</div>
				<div class="button" onclick="deselectPokemon('.mythical')">Mythical</div>
			</div>
		</div>
		<div class="control-row">
			<div class="button-box">
				<div class="textLabel">Show:</div>
				<div class="button" onclick="showInGame()">In game</div>
				<div class="button" onclick="showAll()">All</div>
				<div class="button" onclick="showSelected()">Selected</div>
				<div class="button" onclick="showUnselected()">Not selected</div>
			</div>
		</div>
	</div>

	<div id="pasteTextDiv" class="control-row hide">
		<div>Additional notes:</div>
		<textarea id="pasteText">{{ text }}</textarea>
		<div id="save-button" class="button" onclick="saveData()">Save all</div>
	</div>
	<div id="save-result"></div>
</div>


<div id="pokemon-list">
	{% for poke in pokemon %}
	<div id="{{ poke['no'] }}" class="pokemon list-item {% for keyword in poke['keywords'] %}{{ keyword }} {% endfor %}" data-family={{ poke['family'] }} data-stage={{ poke['stage'] }} data-gen={{ poke['gen'] }} data-dex={{ poke['no'] }} onclick=select(this)>
		<div class="pokemon-no">{{ poke['no'] }}</div>
		<div class="image-frame">
			<img class="pokemon-image pokemon-image-{{ poke['no'] }}" src="static/images/img_trans.gif" style="background-image: url(static/images/spritesheet1025.png)">
		</div>
		<p class="pokemon-label">{{ poke['name'] }}</p>

	</div>
	{% endfor %}
	<div id="Gen1" class="gen-header list-item" data-family=0.5 data-dex=0.5>Gen 1 <a href="#"><div class="button">Return to top</div></a><div class="button" onclick="selectRange(0.5,151.5)">Select all</div><div class="button" onclick="deselectRange(0.5,151.5)">Deselect all</div></div>
	<div id="Gen2" class="gen-header list-item" data-family=78.5 data-dex=151.5>Gen 2 <a href="#"><div class="button">Return to top</div></a><div class="button" onclick="selectRange(151.5,251.5)">Select all</div><div class="button" onclick="deselectRange(151.5,251.5)">Deselect all</div></div>
	<div id="Gen3" class="gen-header list-item" data-family=129.5 data-dex=251.5>Gen 3 <a href="#"><div class="button">Return to top</div></a><div class="button" onclick="selectRange(251.5,386.5)">Select all</div><div class="button" onclick="deselectRange(251.5,386.5)">Deselect all</div></div>
	<div id="Gen4" class="gen-header list-item" data-family=202.5 data-dex=386.5>Gen 4 <a href="#"><div class="button">Return to top</div></a><div class="button" onclick="selectRange(386.5,493.5)">Select all</div><div class="button" onclick="deselectRange(386.5,493.5)">Deselect all</div></div>
	<div id="Gen5" class="gen-header list-item" data-family=254.5 data-dex=493.5>Gen 5 <a href="#"><div class="button">Return to top</div></a><div class="button" onclick="selectRange(493.5,649.5)">Select all</div><div class="button" onclick="deselectRange(493.5,649.5)">Deselect all</div></div>
	<div id="Gen6" class="gen-header list-item" data-family=336.5 data-dex=649.5>Gen 6 <a href="#"><div class="button">Return to top</div></a><div class="button" onclick="selectRange(649.5,721.5)">Select all</div><div class="button" onclick="deselectRange(649.5,721.5)">Deselect all</div></div>
	<div id="Gen7" class="gen-header list-item" data-family=373.5 data-dex=721.5>Gen 7 <a href="#"><div class="button">Return to top</div></a><div class="button" onclick="selectRange(721.5,809.5)">Select all</div><div class="button" onclick="deselectRange(721.5,809.5)">Deselect all</div></div>
	<div id="Gen8" class="gen-header list-item" data-family=428.5 data-dex=809.5>Gen 8 <a href="#"><div class="button">Return to top</div></a><div class="button" onclick="selectRange(809.5,905.5)">Select all</div><div class="button" onclick="deselectRange(809.5,905.5)">Deselect all</div></div>
	<div id="Gen9" class="gen-header list-item" data-family=476.5 data-dex=905.5>Gen 9 <a href="#"><div class="button">Return to top</div></a><div class="button" onclick="selectRange(905.5,9999.5)">Select all</div><div class="button" onclick="deselectRange(905.5,9999.5)">Deselect all</div></div>

</div>
{% endblock %}
