<!DOCTYPE html>
<html>
	<head>	
		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<script type=text/javascript src="{{url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49267605-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-49267605-2');
		</script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-2868886534450016",
				enable_page_level_ads: true
			});
		</script>

	</head>
	<body>
		<script type=text/javascript>
			  $(function() {
				$('a#import').bind('click', function() {
				  $.post($SCRIPT_ROOT + '/_import_string', {
					pok: $("#importBox").val()
				  }, function(data) {
					  var toSelect = data.result;
					  $(".pokemon").removeClass("select")


					  for (i=0; i < toSelect.length; i++) {
						$( "#" + toSelect[i] ).addClass("select")
					  }
					  getResult();
					  return false;
				  });

				});
			  });
			  
			  
			  $(function() {
				$('a#add').bind('click', function() {
				  $.post($SCRIPT_ROOT + '/_import_string', {
					pok: $("#importBox").val()
				  }, function(data) {
					  var toSelect = data.result;

					  for (i=0; i < toSelect.length; i++) {
						$( "#" + toSelect[i] ).addClass("select")
					  }
					  getResult();
					  return false;
				  });

				});
			  });
			  
			  
			$(function() {
				$('a#sub').bind('click', function() {
				$.post($SCRIPT_ROOT + '/_import_string', {
					pok: $("#importBox").val()
				}, function(data) {
					var toSelect = data.result;
				
					for (i=0; i < toSelect.length; i++) {
						$( "#" + toSelect[i] ).removeClass("select")
					}
					
					getResult();
					return false;
				});
												
				});
			});
			  
			  
			  $(function() {
				$('a#invert').bind('click', function() {
					$(".pokemon").toggleClass("select")
					var arrayOfIds = $.map($(".select"), function(n, i){
						  return n.id;
						});
					  $.getJSON($SCRIPT_ROOT + '/_generate_string', {
						pok: arrayOfIds
					  }, function(data) {
						$("#result").val(data.result);
					  });
				  
					getResult();
				});
			  });
			  
			  
			function copy () {
				var copyText = document.getElementById("result");
				copyText.select();
				document.execCommand("Copy");
			}
		</script>
		<script type=text/javascript>
			function select(elem) {
				$(elem).toggleClass("select")
				
				getResult();
			};
			
			function getResult() {
				var arrayOfIds = $.map($(".select"), function(n, i){
					return n.id;
				});
				$.post($SCRIPT_ROOT + '/_generate_string', {
					pok: arrayOfIds
				}, function(data) {
					$("#result").val(data.result);
				});
			}
		</script>
		<input type=text size=20 id=importBox>
		<a href=# id=import>Import string</a>
		<a href=# id=add>Add string</a>
		<a href=# id=sub>Subtract string</a>
		<a href=# id=invert>Invert string</a>
		<br />
		<input type="text" value="" id="result" readonly>
		<button type="button" onclick="copy()">Copy string</button>

		
		
		<div id="pokemon-list">
			{% for poke in pokemon %}
			<div id="{{ poke['no'] }}" class="pokemon {{ poke['family'] }} gen-{{ poke['gen'] }}" name="{{ poke['stage'] }}" onclick=select(this)>
				<div class="pokemon-no">{{ poke['no'] }}</div>
				<img class="pokemon-image" src="static/images/{{ poke['no'] }}.png">
				<div class="pokemon-label">{{ poke['name'] }}</div>

			</div>
			{% endfor %}

	
	</div>
	</body>
</html>
