{% extends 'template.html' %}

{% block title %}Privacy Policy{% endblock %}
		
{% block header %}<h1>Privacy Policy</h1>{% endblock %}

{% block content %}
<div style="
    max-width: 1200px;
    margin: 0 auto;
">
	<p> If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at davidyang6us@gmail.com. </p>
	<p> At www.pogostring.com, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by www.pogostring.com and how it is used. </p>
	<p> <b>Account information</b><br> For user accounts, we store your unique Google user ID, your chosen username, a profile image and your stored text. Any text you store will be visible to the public for anyone who visits your user page. Do not store any sensitive information on this site. </p>
	<p> <b>Log Files</b><br> Like many other Web sites, www.pogostring.com makes use of log files. The information inside the log files includes internet protocol ( IP ) addresses, type of browser, Internet Service Provider ( ISP ), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer the site, track users movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable. </p>
</div>

{% endblock %}
