{% extends 'template.html' %}

{% block title %}Privacy Policy{% endblock %}
		
{% block header %}<h1>Privacy Policy</h1>{% endblock %}

{% block content %}
<p> If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at davidyang6us@gmail.com. </p>
<p> At www.pogostring.com, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by www.pogostring.com and how it is used. </p>
<p> <b>Log Files</b><br> Like many other Web sites, www.pogostring.com makes use of log files. The information inside the log files includes internet protocol ( IP ) addresses, type of browser, Internet Service Provider ( ISP ), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer the site, track users movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable. </p>
<p> <b>Cookies and Web Beacons</b><br> www.pogostring.com does not use cookies. </p>
<b>DoubleClick DART Cookie</b><br>
<p>
.:: RevenueHits, as a third party vendor, uses cookies to serve ads on www.pogostring.com.<br>
.:: RevenueHits's use of the DART cookie enables it to serve ads to your users based on their visit to www.pogostring.com and other sites on the Internet. <br>
.:: Users may opt out of the use of the DART cookie through <a href="https://www.revenuehits.com/privacy/#managin_coockies">RevenueHit's instructions</a></p>
<p> Some of our advertising partners may use cookies and web beacons on our site. RevenueHits is our sole advertising partner. </p>
<p> These third-party ad servers or ad networks use technology to the advertisements and links that appear on www.pogostring.com send directly to your browsers. They automatically receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see. </p>
<p> www.pogostring.com has no access to or control over these cookies that are used by third-party advertisers. </p>
<p> You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. www.pogostring.com's privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites. </p>
<p> If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites. </p>
{% endblock %}
