<!DOCTYPE html>
<html>
	<head>	
		<link rel="shortcut icon" href="static/images/favicon.ico" />
		<title>{% block title %}{% endblock %} - PogoString</title>
		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=0.1, user-scalable=no"/>
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
		<script type="text/javascript">
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49267605-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-49267605-2');
		</script>
		
		{% block header %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	<footer>
		<span>Pokémon And All Respective Names are Trademark & © of Nintendo 1996-2019. Pokémon GO is Trademark & © of Niantic, Inc.</span><br>
		<span>This website is not affiliated with Niantic Inc., The Pokemon Company or Nintendo.</span><br>
		<span><a href="https://github.com/Davidy22/pogoStringGen">Click here for source code for this site.</a></span><br>
		<span><a href="/privacy">Click here for obligatory web privacy policy.</a></span>
	</footer>
	</body>
	

</html>
