<!DOCTYPE html>
<html>
	<head>
		<script data-ad-client="ca-pub-2868886534450016" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<link rel="shortcut icon" href="static/images/favicon.ico" />
		<title>{% block title %}{% endblock %} - PogoString</title>
		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="static/css/sprites.css" />
		<meta name="viewport" content="width=device-width, initial-scale=0.4, user-scalable=no"/>
		<link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
		<script type="text/javascript">
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49267605-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-49267605-2');
		</script>
		
		{% block header %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	<footer>
		<p>
			<span>Pokémon And All Respective Names are Trademark & © of Nintendo 1996-2021. Pokémon GO is Trademark & © of Niantic, Inc.</span><br>
			<span>This website is not affiliated with Niantic Inc., The Pokemon Company or Nintendo.</span><br>
			<span><a href="https://github.com/Davidy22/pogoStringGen">Click here for source code for this site.</a></span><br>
			<span><a href="/privacy">Click here for obligatory web privacy policy.</a></span>
		</p>
			<div style="text-align: center;">
				<div style="display: inline-block">
					<!-- ad-->
				</div>
			</div>
		</p>
	</footer>
	</body>
	

</html>
